# Base de datos
DATABASE_URL=postgresql://postgres:techbot123@localhost:5432/techbot_db

# Redis
REDIS_URL=redis://localhost:6379

# Seguridad
SECRET_KEY=6896f2db3f97a17906eee3001f7b3e5bd143af2850e0b46c064896ea7334d524
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# App
APP_NAME=TechBot
APP_VERSION=1.0.0=6896f2db3f97a17906eee3001f7b3e5bd143af2850e0b46c064896ea7334d524
DEBUG=True
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000

# NLP
NLP_MODEL=distilbert-base-multilingual-cased
CONFIDENCE_THRESHOLD=0.75
